/* .navbar-custom {
    color: yellow;
}
 */

.navbar-brand {
    font-size: 2em;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

#nav-list a {
    color: black;
    text-align: center;
    font-size: 1.3em;
    border: 0.1px solid;
}

#nav-list a:hover {
    background: grey;
    color: white;
    text-align: center;
    font-size: 1.5em;
}

div#section {
    background-color: lightgray;
    font-family: Helvetica;
    color: black;
    border: 2px solid black;
    margin-bottom: 45px;
}

#content {
    margin: 0 5px 0 5px;
    padding: 0 5px 0 5px;
}

.navbar-toggle:hover span,
.navbar-toggle:focus span {
    border: 1px solid black;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
    border: 1px solid black;
}
